
<h2>Summary</h2>

<p>All About Dogs is a Web site that provides access to a database
    of articles about dogs. Users can also comment on the articles.</p>


<h2>Technical details about this site</h2>
    <p>This is a site made in Visual Studio 2017 using .NET with MVC design</p>
    <p>This site also makes use of AngularJS v1.7.2 and jQuery Ajax calls.</p>


<h2></h2>