
<h2>Contact Me</h2>
<p>If you have any questions or suggestions please send me an E-mail!</p>

<address>
    <strong>Phone: </strong> 636-236-3288
    <br />
    <strong>E-mail:</strong>   <a href="mailto:LukeAndersonCS@gmail.com">LukeAndersonCS@gmail.com</a><br />
</address>