@model DogSite.Models.ArticleViewModel
<div id ="article" class="jumbotron">
    @if (Model != null)
    {
       
        <h1 id="title">@Model.Title</h1>
        <p id="body" class="preline">@Model.Body</p>
        <p class="lead">@Model.Attribution</p>

    }
</div>