@model DogSite.Models.ArticleViewModel

<!--<div id="partial"></div>-->

<div id="partial"></div>




<p>
    @Html.ActionLink("Back to List", "Index")
</p>


<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetArticle","Test",new { Id = Model.Id})',
            method: 'GET',
            success: function (data) {
                $("#partial").html(data)
            }
        });
    });
</script>