@model DogSite.Models.ArticleViewModel



@section left{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}

@section middle{
    <div id="currentArticle"><!--PartialView _Article--></div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

    <div ng-app="CommentApp" ng-controller="CommentController">
        <p ng-model="label">{{label}}</p>
        <hr />
        <textarea id="commentBox" rows="4" cols="100" maxlength="256" ng-model="postComment" ng-click="clearPlaceHolderText()"></textarea>

        <input id="postCommentButton" class="btn btn-primary" type="button" value="Post" ng-click="addComment()" />
     
        <div style="overflow-wrap:break-word" ng-model="commentSection">
            <p class="preline" ng-model="comments">{{comments}}</p>
        </div>
    </div>
}

@section right{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}



<script>

    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetArticle","Test",new { Id = Model.Id})',
            method: 'GET',
            success: function (data) {
                $("#currentArticle").html(data)
            }
        });
    });


    //Angular commment app
    var app = angular.module('CommentApp', []);
    app.controller('CommentController', function ($scope) {

        //initialize
        var postCommentPlaceHolderText = "Comment!"
        $scope.postComment = postCommentPlaceHolderText


        //comment functions
        $scope.clearPlaceHolderText = function () {
            if ($scope.postComment === postCommentPlaceHolderText)
                $scope.postComment = "All clear!"
        }



        //add comment
        $scope.addComment = function () {
            $scope.comments += "\n\n\n" + $scope.postComment


  
            $.ajax({
                url:'@Url.Action("AddComment", "Test")?comment=' + $scope.postComment,
                method: 'POST',
                success: function (data) {
                    $scope.label = data
                }
            });
        }


        //init function
        $scope.getComments = function () {
            $.ajax({
                url: '@Url.Action("GetComments","Test")?articleId=1',
                method: 'GET',
                success: function (data) {
                    $scope.comments = data
                }
            });
        };
        //have to call this twice to see changes in view possibly
        $scope.getComments();
    });
</script>