@model DogSite.Models.ArticleViewModel
@{
    ViewBag.title = "Article Detail";
}
<div class="jumbotron">
    @if (Model != null)
    {
        <h1 id="title">@Model.Title</h1>
        <p id="body" class="preline">@Model.Body</p>
        <p class="lead">@Model.Attribution</p>

        <input id="previousArticleButton" class="btn btn-primary" type="button" value="Previous" onclick="AjaxDisplayString()" />
       <!-- <input id="nextArticleButton" class="btn btn-primary" type="button" value="Next" />
            -->
    }
</div>

<div id="partial"></div>

<script>

    function AjaxDisplayString()
{
   $.ajax({
        url: '@Url.Action("GetPartialView")',
        method: 'GET',
       success: function (data) {
           $("#partial").html(data)
       }
   });
}

</script>





