@model DogSite.Models.ArticleViewModel

<div id="currentArticle"><!--PartialViewDiv--></div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section left{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}

@section right{
    <img src="/Content/Images/dogImage1.png" alt="dog picture" class="img-responsive" />
}


<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetArticle","Test",new { Id = Model.Id})',
            method: 'GET',
            success: function (data) {
                $("#currentArticle").html(data)
            }
        });
    });
</script>